---
layout: default
---

 <article class="article-content">
   <header class="article-content__header dock-header">
     <h1 >{{title}}</h1>

     {% if page.description != null %}
       <p>
         {{page.description}}
       </p>
     {% endif %}
  </header>

     <div>
     {% if page.status == 'todo' %}
       Coming soon...
     {% else %}
       <div>
         <h3>Table of contents:</h3>
         {% include toc.html html=content h_min=2 h_max=3 %}
       </div>
       {{ content }}
     {% endif %}
   </div>
 </article>
